.head-two {
    height: 200px;
}

body {
    min-height: 100vh;
}

.cart-shop {
    color: var(--main-color);
    margin-left: 5px;
    cursor: pointer;
    background-color: #eee;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.26);
    padding: 2px;
}

.heads {
    transition: .3s;
}

.massage-cart {
    width: 100%;
    height: 450px;
    text-align: center;
    display: flex;
    align-content: center;
}

/* Start Items */

.box .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #cec8c8a7;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 20px 0;
}

@media (max-width: 767px) {
    .box .item {
        flex-direction: column;
        padding: 10px 0;
    }
}

.box .item .image-and-name {
    display: flex;
    align-items: center;
    gap: 20px;
}

.box .item .image-and-name img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

@media (max-width: 767px) {
    .box .item .image-and-name img {
        width: 80px;
        height: 80px;
    }
}

.box .item .image-and-name .info h3 {
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: bold;
}

.box .item .image-and-name .info span {
    color: var(--main-color);
}

.box .item .number {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

@media (max-width: 767px) {
    .box .item .number {
        margin-top: 10px;
        justify-content: center;
        width: 100%;
    }
}

.box .item .number button {
    width: 30px;
    height: 30px;
    background-color: #eee;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.box .item .number span {
    margin: 0 10px;
    font-size: 16px;
    font-weight: bold;
}

.box .item .number .price-item {
    font-weight: bold;
    color: #6c6666;
}

.box .item i {
    color: var(--main-color);
    cursor: pointer;
}

.total {
    position: sticky;
    top: 75px;
    margin: 10px 15px 0;
    z-index: 10;
    display: none;
}

@media (max-width: 767px) {
    .total {
        margin: 10px 7px 0;
    }
}

.total .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #a59f9f;
    padding: 20px;
    border-radius: 20px;
}

@media (max-width: 767px) {
    .total .container {
        padding: 15px 7px;
    }
}

.total .container .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.box-btns {
    display: flex;
    align-items: center;
    gap: 20px;
}

.box-btns .btn-checkout,
.box-btns .btn-deleteAll {
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

@media (max-width: 767px) {
    .box-btns {
        gap: 10px;
    }

    .box-btns .btn-checkout,
    .box-btns .btn-deleteAll {
        padding: 7px;
    }
}

.box-btns .btn-checkout {
    background-color: var(--main-color);
    color: #eee;
    border: none;
}

.box-btns .btn-checkout:hover {
    background-color: rgb(164, 0, 0);
}

.box-btns .btn-deleteAll {
    background-color: transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color);
}

.box-btns .btn-deleteAll:hover {
    background-color: var(--main-color);
    color: #eee;
    border-color: transparent;
}

.disabled {
    opacity: .4;
    pointer-events: none;
}

/* End Items */