* {
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.5s;
}

.box {
    padding: 50px 0;
}

.box .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media (max-width: 990px) {
    .box {
        padding: 40px 0;
    }

    .box .container {
        justify-content: center;
        flex-direction: column;
    }
}

.content-box {
    width: 40%;
    padding: 20px;
}

.my-data {
    position: relative;
    background: url(../images/images/background-4.jpg) center/cover;
    border-radius: 50px;
    height: 550px;
    padding: 50px 30px;
    box-shadow: 0 0 20px black;
    color: #eee;
    z-index: 2;
    overflow: hidden;
}

.my-data::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.456);
    z-index: -1;
}

.my-data h3 {
    color: rgb(219, 9, 9);
    padding-bottom: 50px;
}

.my-data h2 {
    padding-bottom: 50px;
    font-size: 35px;
}

.my-data p {
    margin-bottom: 50px;
}

h4 {
    margin-top: 50px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    width: 40%;
}

.inputs-1,
.inputs-2 {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.inputs-1 input,
.inputs-2 input {
    padding: 0 20px;
    border: none;
    width: calc(100% - 40px);
    height: 50px;
    background-color: #eee;
    border-radius: 50px;
    box-shadow: 0 0 10px black;
    color: red;
}

.inputs-1 input:hover,
.inputs-2 input:hover {
    box-shadow: 0 0 20px var(--main-color);
}

textarea {
    width: 100%;
    height: 120px;
    background-color: #eee;
    padding-top: 30px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    color: red;
}

textarea:hover {
    box-shadow: 0 0 20px var(--main-color);
}

.button-end {
    text-align: center;
}

.button-end button {
    width: 100%;
}

@media (max-width: 990px) {
    form {
        margin-top: 30px;
        width: 100%;
    }

    .inputs-1,
    .inputs-2 {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .content-box {
        width: 80%;
    }
}

@media (max-width: 767px) {
    .content-box {
        width: 100%;
    }
}