* {
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.5s;
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

@media (max-width: 767px) {
    .box {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 40px 0;
    }
}

main {
    width: 45%;
}

@media (max-width: 767px) {
    main {
        width: fit-content;
    }
}

.my-data {
    position: relative;
    background: url(../images/images/background-4.jpg) center/cover;
    width: 100%;
    height: 550px;
    padding: 50px 30px;
    border-radius: 50px;
    filter: drop-shadow(0 0 10px black);
    color: #eee;
    z-index: 2;
    overflow: hidden;
}

@media (max-width: 767px) {
    .my-data {
        width: 100%;
        height: 550px;
        /* padding: 50px 30px; */
        border-radius: 50px;
        color: #eee;
        z-index: 2;
        overflow: hidden;
    }
}

.my-data::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.456);
    z-index: -1;
}

.my-data h3 {
    color: rgb(219, 9, 9);
    padding-bottom: 50px;
}

.my-data h2 {
    padding-bottom: 50px;
    font-size: 35px;
}

.my-data p {
    margin-bottom: 50px;
}

h4 {
    margin-top: 50px;
}

form {
    text-align: center;
    width: 40%;
}

.inputs-1 input {
    margin-top: 120px;
    border: none;
    width: 220px;
    height: 50px;
    padding-left: 30px;
    background-color: #eee;
    border-radius: 50px;
    filter: drop-shadow(0 0 10px black);
    color: red;
}

@media (max-width: 767px) {
    .inputs-1 input {
        margin-left: 0;
    }

    form {
        width: fit-content;
    }
}

.inputs-1 input:hover {
    filter: drop-shadow(0 0 20px rgb(219, 9, 9));
}

.inputs-2 {
    margin-top: -60px;
}

textarea {
    margin-top: 40px;
    width: 550px;
    height: 120px;
    background-color: #eee;
    padding-top: 30px;
    border: none;
    border-radius: 20px;
    filter: drop-shadow(0 0 10px black);
    margin-bottom: 50px;
    color: red;
}

@media (max-width: 767px) {
    textarea {
        width: 220px;
    }
}

textarea:hover {
    filter: drop-shadow(0 0 20px rgb(219, 9, 9));
}

.button-end {
    text-align: end;
    margin-bottom: 150px;
}

@media (max-width: 767px) {
    .button-end {
        text-align: center;
        margin-bottom: 15px;
    }
}

@media (max-width: 990px) {
    .button-end {
        margin-left: 0;
    }

    main,
    aside {
        float: none;
    }

    .my-img img {
        margin-right: 0;
    }

    form {
        text-align: center;
    }

    textarea {
        margin-left: 0;
        width: 300px;
    }

    .inputs-1 {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .inputs-1 input {
        margin: 90px 20px 20px;
    }
}

@media (max-width: 767px) {
    .my-img img {
        width: 300px;
        height: 450px;
    }

    .my-data {
        width: 300px;
    }

    textarea {
        width: 300px;
    }

    .inputs-1 input {
        margin-top: 50px;
    }

    .inputs-2 {
        margin-top: 0;
    }
}