* {
    font-family: Arial, Helvetica, sans-serif;
}

.background {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 0 80px;
}

@media (max-width: 767px) {
    .background {
        flex-direction: column;
        padding: 10px;
    }
}

.background-image img {
    width: 400px;
    height: 400px;
    border-radius: 30px;
}

@media (max-width: 767px) {
    .background-image img {
        width: 300px;
        height: 300px;
    }
}

@media (min-width: 768px) and (max-width: 990px) {
    .background-image img {
        width: 310px;
        height: 380px;
    }
}

.discond {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.discond span {
    text-decoration: line-through;
}

.discond h3 {
    color: rgb(218, 9, 9);
    margin-left: 10px;
    font-size: 30px;
}

.paragraph {
    margin-top: 10px;
    margin-right: 120px;
    word-spacing: 1px;
}

@media (min-width: 768px) and (max-width: 990px) {
    .paragraph {
        margin-right: 0;
        width: 300px;
        word-spacing: .5px;
    }
}

@media (max-width: 767px) {
    .discond h3 {
        margin-left: 0;
    }

    .paragraph {
        margin-top: 10px;
        margin-right: 0;
        width: 300px;
        word-spacing: .5px;
    }

}

.game-id {
    display: flex;
    margin-top: 30px;
}

@media (min-width: 768px) and (max-width: 990px) {
    .game-id {
        display: flex;
        margin-top: 15px;
    }
}

.game-id h4 {
    margin-left: 30px;
    color: rgb(218, 9, 9);
    font-size: 15px;
}

hr {
    margin: 100px 120px;
    border: 3px solid rgb(218, 9, 9);
    border-radius: 50px;
}

.head-h h1 {
    color: rgb(218, 9, 9);
}

.head-h {
    display: flex;
    align-items: center;
}

.trendingContact-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trendingHeader {
    margin: 0 40px 50px;
}

.b-1 span {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 20px;
}

.b-1 h1 {
    font-size: 40px;
}

@media (max-width: 767px) {
    .head-h {
        flex-direction: column;
    }

    .trendingHeader {
        margin: 0 10px 50px;
    }

    .b-1 h1 {
        margin-bottom: 20px;
        font-size: 20px;
    }

    .b-1 span {
        justify-content: start;
        font-size: 16px;
    }

    hr {
        margin: 100px 50px;
    }
}