:root {
    --main-color: rgb(181, 8, 8);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg, #848484, #f43737);
}

.box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 850px;
    height: 550px;
    background-color: #eee;
    border-radius: 30px;
    box-shadow: 0 0 30px rgb(0, 0, 0, .2);
    overflow: hidden;
}

.form-box {
    position: relative;
    width: 50%;
    height: 100%;
    background-color: #eee;
    display: flex;
    align-items: center;
    color: #333;
    text-align: center;
}

@media (max-width: 990px) {
    .box {
        height: 880px;
        margin-top: 80px;
        flex-direction: column;
        padding: 40px;
    }

    .form-box {
        width: 100%;
        height: 49%;
    }
}

.form-box form {
    width: 100%;
    padding: 40px;
}

.form-box form h1 {
    font-size: 35px;
    margin: -10px 0;
}

.form-box form .input-hox {
    position: relative;
    margin: 30px 0;

}

.form-box form .input-hox input {
    width: 100%;
    padding: 10px 50px 10px 20px;
    background-color: #fff;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

.form-box form .input-hox input::placeholder {
    color: #888;
    font-weight: 400;
}

.form-box form .input-hox i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #888;
}

.form-box form .forgot-link {
    margin: -15px 0 15px;
}

.form-box form .forgot-link a {
    text-decoration: none;
    font-size: 15px;
    color: #333;
}

.btn {
    width: 100%;
    height: 40px;
    background-color: #fa3b3b;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0, .1);
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #eee;
    font-weight: bold;
}

.form-box form p {
    font-size: 14px;
    margin: 15px 0;
}

.form-box form .social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-box form .social-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    color: #333;
    text-decoration: none;
    font-size: 20px;
    margin: 0 8px;
    width: 40px;
    transition: .3s;
    height: 40px;
}

.form-box form .social-icons a:hover {
    color: var(--main-color);
}

.toggle-box {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    transition: .3s;
    border-radius: 0 80px 80px 0;
    background-color: var(--main-color);
}

.toggle-box.active {
    left: 50%;
    border-radius: 80px 0 0 80px;
}

@media (max-width: 990px) {
    .toggle-box {
        width: 100%;
        height: 50%;
        bottom: 0;
        border-radius: 80px 80px 0 0;
    }

    .toggle-box.active {
        left: 0;
        bottom: 50%;
        border-radius: 0 0 80px 80px;
    }
}

.toggle-box .toggle-panel {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
}

.toggle-box .toggle-panel h1 {
    color: #eee;
    margin: 0 0 10px;
}

.toggle-box .toggle-panel p {
    margin-bottom: 20px;
}

.toggle-box .toggle-panel .btn {
    width: 160px;
    height: 35px;
    background-color: transparent;
    border: 2px solid #ccc;
}